<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Home accounting</span>
  <span class="spacer"></span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>person_outline_outlined</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item>
      <mat-icon>note_add</mat-icon>
      <span>Add record</span>
    </a>
    <button mat-menu-item (click)="logoutUser()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Exit</span>
    </button>
  </mat-menu>
</mat-toolbar>

