@use "../../../styles/theme.scss" as theme;

.title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid theme.$primary-color-100;

  .icon-button {
    margin-right: 10px;
    border: none;
    background: theme.$primary-color-50;
  }

  h3 {
    margin: 0;
  }
}

.card {
  max-width: 500px;
  border: 1px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  margin: 0 auto;
}

.card-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 12px;
}

.card-details {
  padding: 0 10px;
  margin: 20px;

  li {
    margin-bottom: 8px;
    font-size: 14px;
  }

  strong {
    font-weight: bold;
  }
}

.card-date {
  font-size: 12px;
  color: #666;
  text-align: left;
}

.card.income {
  box-shadow: 10px 10px 20px rgba(0, 123, 255, 0.5);
}

.card.income .card-title {
  color: #007bff;
}

.card.outcome {
  box-shadow: 10px 10px 20px rgba(217, 83, 79, 0.5);
}

.card.outcome .card-title {
  color: #d9534f;
}
