@use '@angular/material' as mat;

$primary-color-light: mat.get-color-from-palette(mat.$indigo-palette, 50);
$primary-color: mat.get-color-from-palette(mat.$indigo-palette, 500);
$primary-contrast-color: mat.get-contrast-color-from-palette(mat.$indigo-palette, 500);

