@use "../../../styles/theme.scss" as theme;

.title {
  margin-bottom: 2rem;
  border-bottom: 1px solid theme.$primary-color-100;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

th.mat-column-actions,
td.mat-column-actions {
  width: 140px;
  text-align: right;
}

.text {
  text-align: center;
  font-size: 18px;
  padding: 10px;
}
