<div class="user-info">
  <h3>{{ user?.name }}</h3>
  <p>{{ user?.email }}</p>
  <img src="avatar.jpg" alt="User Avatar" class="avatar" />
</div>

<mat-nav-list>
  <h3>Pages</h3>
  <a mat-list-item routerLink="billing" routerLinkActive="active-link">
    <span> Billing page </span>
  </a>
  <a mat-list-item routerLink="history" routerLinkActive="active-link">
    <span>History page</span>
  </a>

  <a mat-list-item routerLink="/record" routerLinkActive="active-link">
    <span>Record page</span>
  </a>
</mat-nav-list>
