@use '../../../../styles/theme.scss' as theme;

.spacer {
  flex: 1 1 auto;
}

.icon-button {
  margin-right: 10px;
  background-color: theme.$primary-color;
  border: none;
  cursor: pointer;
}

mat-icon {
  color: theme.$primary-contrast-color;
}

